* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background: white;

  padding: 30px;

  width: 500px;

  border-radius: 10px;

  text-align: center;

  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
}

button {
  padding: 12px 20px;

  border: none;

  background: red;

  color: white;

  border-radius: 5px;

  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

footer {
  margin-top: 20px;
}